.menu {
  position: fixed;
  z-index: 1060;
  min-width: 96px;
  padding: 4px;
  background: #1f1f1f;
  border: 1px solid #303030;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgb(0 0 0 / 24%);
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 5px 12px;
  color: rgb(255 255 255 / 85%);
  cursor: pointer;
  border-radius: 4px;
  user-select: none;

  &:hover {
    background: rgb(255 255 255 / 8%);
  }
}
