.FormItems {
  width: 100%;
}

.timerDisplay {
  display: block;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;

  @media (max-width: 576px) {
    font-size: 18px;
    line-height: 26px;
  }
}
